---
layout: page
title: Projects
permalink: /projects/
---

<div class="home">

	<!-- <h1 class="page-heading">Posts</h1> -->

	<ul class="post-list">
		{% for post in site.posts %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">
					<div class="hero" style="background-image: url(/img/posts/{{ post.header-img }});">
						<div class="title">{{ post.title }}
							<span>{{ post.date | date: "%b %-d, %Y" }}</span>
						</div>
					</div>
				</a>
<!-- 					<div class="post-meta">
						<a class="post-link" style="float:left;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						<div class="post-date" style="margin-top: 10px;">{{ post.date | date: "%b %-d, %Y" }}</div>
					</div>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
						{% if post.header-img %}
							<img src="/img/posts/{{ post.header-img }}" class="post-header-img">
						{% endif %}
					</a> -->
			</li>
		{% endfor %}
	</ul>

	<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>