<footer class="site-footer">

	<div class="wrapper">

		<div class="footer-col-wrapper">
				{% if site.github_username %}
					<a href="https://github.com/{{ site.github_username }}" class="social-link">
						<i class="fa fa-github-square fa-5x"></i>
					</a>
				{% endif %}

				{% if site.linkedin_username %}
					<a href="https://www.linkedin.com/pub/{{ site.linkedin_username }}" class="social-link">
						<i class="fa fa-linkedin-square fa-5x"></i>
					</a>
				{% endif %}

				{% if site.email %}
					<a href="mailto:{{ site.email }}" class="social-link">
						<i class="fa fa-envelope-square fa-5x"></i>
					</a>
				{% endif %}

				{% if site.rss %}
					<a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="social-link">
						<i class="fa fa-rss-square fa-5x"></i>
					</a>
				{% endif %}
		</div>

	</div>

</footer>
