<footer class="site-footer">

	<div class="wrapper">

		<!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
		<div class="footer-col-wrapper">
				{% if site.github_username %}
					<a href="https://github.com/{{ site.github_username }}" class="social-link">
						<i class="fa fa-github-square fa-5x"></i>
					</a>
				{% endif %}

				{% if site.linkedin_username %}
					<a href="https://www.linkedin.com/pub/{{ site.linkedin_username }}" class="social-link">
						<i class="fa fa-linkedin-square fa-5x"></i>
					</a>
				{% endif %}
		</div>

		<div class="footer-col-wrapper">
			<div class="footer-col  footer-col-1">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>

			<div class="footer-col  footer-col-2">

			</div>

			<div class="footer-col  footer-col-3">
				<p class="text">{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>
