html, body {
	/* Pattern from http://subtlepatterns.com */
	// background-image: url("/img/brillant.png");
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

strong {
	font-weight: 600;
}

hr {
	border: 1px solid #EEE;
	margin-top: 10px;
	margin-bottom: 10px;
}

pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;	
}

h1 {
	font-size: 68pt;
	font-weight: 600;
}

h2 {
	font-size: 41pt;
	font-weight: 600;
}

h3 {
	font-size: 26pt;
	font-weight: 600;
}

h4 {
	font-size: 16pt;
	font-weight: 600;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}