.post-content {
	 ul {
		list-style-type: none;
		li:before {    
			font-family: 'FontAwesome';
			content: '\f0a3';
			margin:0 5px 0 -15px;
			color: $grey;
		}
	}
}

.hero{
	position: relative;
	width: 100%;
	background-size: cover;
	height: 127px;
	// height: 200px;
	&:hover .title {
		background-color: rgba(48, 95, 148, 0.8);	
	}
	.title{
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 5px 0px;
		background-color: rgba(0, 0, 0, 0.75);
		color: #FFF;
		font-size: 22px;
		text-indent: 10px;
		transition: all 0.25s ease-in;
	}
	span{
		float: right;
		font-size: 14px;
		margin-right: 10px;
		padding-top: 7px;
	}
}

ul.post-list li:before {
	content: '';
	margin: 0px;
}

.post-header {
	margin-bottom: 0px;
}

.post-header-img{
	border: 1px solid #DDD;
}

.post-date {
	display: block;
	float: right;
}

.post-meta{
	display: block;
	width: 100%;
	margin-top: 10px;
}

.post-tags {
	margin-top: 7px;
	margin-right: -5px;
	color: #777;
	// font-size: 0.8em;
	p {
		float: left;
		margin-top: 2px;
		margin-right: 5px;
	}
}

.figure {
	margin-bottom: 10px;
	img {
		display: block;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;		
	}
	video {
		display: block;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;		
	}
	iframe {
		display: block;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;		
	}
	p {
		margin-top: 10px;
		text-align: center;
		font-size: 0.8em;
		font-style: italic;
	}
}