.site-header {
	border-top: none;
	background-color: $lighter-grey;
	// height: 60;
}

.site-title {
	line-height: 36px;
	margin-left: 10px;
	.site-description {
		font-size: 14px;
		line-height: 16px;
	}
}

.site-footer {
	background-color: rgba(254, 254, 254, 0.8);
}

.page-content {
	background-color: $lighter-grey;
	> .wrapper {
		padding: 30px;
		padding-top: 20px;
	}
}

.logo {
	float: left;
	margin-top: 5px;
	> img {
		height: 50px;
	}
}

ul {
	list-style: none;
	.tags {
		font-size: 0.8em;
		margin-left: 5px;
		li {
			list-style: none;
			float: left;
			width: auto;
			margin: 2px;
			&:hover {
				text-decoration: none;
				color: #505090;
			}
			// a {
				padding: 0px 5px;
				color: #7070B0;
				border: 2px solid #B0B0FF;
				border-radius: 5px;
				background-color: #F0F0FB;		
			// }
		}
	}
}

a {
	// font-weight: bold;
	&:hover{
		text-decoration: none;
		color: $blue;
	}
	.site-nav &.page-link {
		// line-height: 50px;
		padding-bottom: 19px;
		// padding-top: 30px;
		// height: 100px;
		font-weight: bold;
		text-transform: uppercase;
		color: $dark-grey;
		transition: color 0.25s ease-in 0s;
		&:hover{
			color: $blue;
			border-bottom: solid 3px $blue;
		}
	}
	&.social-link{
		display: block;
		float: left;
		// margin-left: -webkit-calc( (800px / 7) - 4em);
		// margin-left: calc( (800px / 7) - 4em);
		&:first-child{
			// 5 * 3em + 6 * 3em 
			margin-left: -webkit-calc( (740px - 5*3em - 6*3em) / 2);
			margin-left: calc( (740px - 5*3em - 6*3em) / 2);
		}
		&:not(:first-child){
			margin-left: 3em;
		}
		color: $grey;
		i {
			font-size: 3em;
			transition: all 0.5s ease-in;
		}
		&:hover i{
			transition: all 0.25s ease-in;
			&.fa-github-square {
				color: black;
			}
			&.fa-linkedin-square {
				color: #0977B5;
			}
			&.fa-envelope-square {
				color: #39A83A;
			}
			&.fa-rss-square {
				color: #F99C39;
			}
			&.fa-vimeo-square {
				color: #1AB7EA;
			}
			&.fa-twitter-square {
				color: #55ACEE;
			}
		}
	}
}