// Colors
$dark-grey: #606060;
$darker-grey: #303030;
$lighter-grey: #FCFCFC;
$grey: grey;
$blue: #3A5FAB;

@import 
	"partials/elements",
	"partials/grid",
	"partials/site",
	"partials/pages",
	"partials/posts",
	"partials/generative"
;