// Colors
$dark-grey: #606060;
$grey: grey;
$blue: #3A5FAB;

html, body {
	/* Pattern from http://subtlepatterns.com */
	background-image: url("/img/brillant.png");
}

strong {
	font-weight: 600;
}

hr {
	border: 1px solid #EEE;
	margin-bottom: 10px;
}

pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;	
}

.site-header {
	border-top: none;
	background-color: rgba(254, 254, 254, 0.95);
	-moz-box-shadow: 3px 3px 4px rgba(127, 127, 170, 1.0);
	-webkit-box-shadow: 3px 3px 4px rgba(127, 127, 170, 1.0);
	box-shadow: 3px 3px 4px rgba(127, 127, 170, 1.0);
}

.site-footer {
	background-color: rgba(254, 254, 254, 0.8);
	-moz-box-shadow: -3px -3px 2px rgba(210, 210, 255, 1.0);
	-webkit-box-shadow: -3px -3px 2px rgba(210, 210, 255, 1.0);
	box-shadow: -3px -3px 2px rgba(210, 210, 255, 1.0);
}

.page-content {
	margin-top: 50px;
	background-color: rgba(250, 250, 250, 0.8);
	> .wrapper {
		background-color: rgba(255, 255, 255, 0.9);
		padding: 30px;
		border: solid 1px #DDD;
		-moz-box-shadow: 3px 3px 4px rgba(127, 127, 170, 1.0);
		-webkit-box-shadow: 3px 3px 4px rgba(127, 127, 170, 1.0);
		box-shadow: 3px 3px 4px rgba(127, 127, 170, 1.0);
	}
}

// .menu {
// 	position: absolute;
// 	top: 76px;
// 	left: 0px;
// 	padding: 7rem 2rem;
// 	padding-top: 2rem;
// 	@include media-query(420px) {
// 		padding: 10rem 2rem;
// 	}
// 	background-color: rgba(254, 254, 254, 0.8);
// 	> .nav {
// 		line-height: 2em;
// 		> ul {
// 			list-style: none;
// 			> li {
// 				margin-top: 20px;
// 				.active {
// 					background-color: #E0E0FF;
// 				}
// 				:hover {
// 					background-color: #EFEFFF;
// 					text-decoration: none;
// 				}
// 				> a {
// 					display: block;
// 					width: 100px;
// 					height: 2rem;
// 					padding-left: 10px;
// 					color: #111;
// 				}
// 			}
// 		}
// 	}
// }

.logo {
	float: left;
	margin-left: -115px;
	> a{
		> img {
			height: 3.5rem;
		}
	}
}

.post-header {
	margin-bottom: 0px;
}

.post-header-img{
	border: 1px solid #DDD;
}

.post-date {
	display: block;
	float: right;
}

.post-meta{
	display: block;
	width: 100%;
	margin-top: 10px;
}

// .post-meta:after {
// 	clear: both;
// }


.post-tags {
	margin-top: 7px;
	margin-right: -5px;
	color: #777;
	// font-size: 0.8em;
	p {
		float: left;
		margin-top: 2px;
		margin-right: 5px;
	}
}

// .post-img {
// 	display: block;
// 	max-width: 600px;
// 	margin-left: auto;
// 	margin-right: auto;	
// }

.figure {
	margin-bottom: 10px;
	img {
		display: block;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;		
	}
	p {
		margin-top: 10px;
		text-align: center;
		font-size: 0.8em;
		font-style: italic;
	}
}

ul.tags {
	list-style: none;
	font-size: 0.8em;
	margin-left: 5px;
	li {
		float: left;
		width: auto;
		margin: 2px;
		:hover {
			text-decoration: none;
			color: #505090;
		}
		// a {
			padding: 0px 5px;
			color: #7070B0;
			border: 2px solid #B0B0FF;
			border-radius: 5px;
			background-color: #F0F0FB;		
		// }
	}
}

a.social-link{
	display: block;
	float: left;
	margin-left: -webkit-calc( (800px / 6) - 2.5em - 4px);
	margin-left: calc( (800px / 6) - 2.5em - 4px);
	margin-right: -webkit-calc( (800px / 6) - 2.5em - 4px);
	margin-right: calc( (800px / 6) - 2.5em - 4px);
	color: $grey;
}

a:hover{
	text-decoration: none;
	color: $blue;
}

.site-nav{
	a.page-link{
		font-weight: bold;
		text-transform: uppercase;
		color: $dark-grey;
		transition: color 0.25s ease-in 0s;
	}
}

a.page-link:hover{
	color: $blue;
}

.about-home{
	height: 125px;
	>.self{
		float: left;
		margin: 10px;
	}
}

.self{
	width: 125px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}