html, body {
	overflow: hidden;
	background-color: #F3F3F3;
}

#title {
	position: absolute;
	// height: 100px;
	top: calc(50% - 60px);
	left: 60%;
	font-weight: bold;
	#name {
		font-size: 72px;
		color: $darker-grey;
	}
	#sub-name {
		padding-left: 4px;
		font-size: 32px;
		color: $dark-grey;
	}
}

nav.site-nav {
	position: absolute;
	bottom: 0%;
	right: 10%;
	.page-link {
		font-weight: bold;
		text-transform: uppercase;
		color: $dark-grey;
		transition: color 0.25s ease-in 0s;
		&:hover {
			color: $blue;
			border-top: solid 2px $blue;
		}
		&:not(:first-child) {
			margin-left: 40px;
		}
	}
}

.social {
	position: absolute;
	bottom: 0%;
	left: 15px;
	a.social-link {
		margin-bottom: 15px;
		&:not(:first-child){
			margin-left: 10px;
		}
		i {
			font-size: 2em;
		}
	}
}